:root{
    font-family:cambria;
    background-color:Ivory;
    color:black;
    font-size:16px;
    letter-spacing:1px;
}
h1{
    color: black;
    line-height: 1cm;
    text-transform:uppercase;
    letter-spacing:5px;
}
h2{
    color: gray;
    letter-spacing:1px;
}
fieldset, legend{
    background-color:oldLace;
    color:black;
    border:2px solid gray;
    border-top-right-radius:10px;
    border-bottom-left-radius: 10px;
}
hr{
    border:1px solid gray;
}
body{
    margin:0cm 5cm;
    padding:1cm;
}
#menu{
    text-align:center;
}
a:link, a:active, a:visited{
    text-decoration:none;
    color:black;
    font-size:12pt;
    border:1px ridge gray;
    border-radius:15px;
    background-color: ivory;
    padding: 10px;
    margin:0 10px;
}
a:hover{ 
    text-decoration:none;
     color:palevioletred;
     font-size:14pt;
     font-weight:bolder;
     border:1px inset;
     border-radius:15px;
     background-color: ivory;
     padding: 10px;
 }
 p.p1:first-letter{
    font-size:26pt;
    color:black;
    font-family:tahoma;
    float:left;
    padding-top:4px;
    padding-right:4px;

 }
 span.hal{
     font-weight:bold;
     color:black;
     font-family:arial;
     font-size:10pt;
 }
 #macam{
     font-family:arial;
     border-collapse:collapse;
     width:100%;
 }
 #macam td, #macam th{
     border:1px solid gray;
     padding:8px;
 }
 #macam tr:nth-child(even){
     background-color: blanchedalmond;
 }
 #macam tr:nth-child(odd){
     background-color: antiquewhite;
 }
 #macam tr:hover{
     background-color: burlywood;
 }
 #macam th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: ivory;
    color: black;
    text-align:center;
}
.jenis{
   list-style-type:disc; 
}
nav#main {
    float: left;
    padding: 10px ;
    width: 70%;
    background-color:ivory;
    height: 450px;
    align-content: center;
}

div#form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 5px;
    width: 60%;
}

input[type=text],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: gray;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: brown;
}

section::after {
    content: "";
    display: table;
    clear: both;
}


